* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    overflow: hidden;
    color: white;
}

#page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("galaxy.jpg");
    background-size: cover;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    height: 75%;
    width: 30%;
    border-radius: 5%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.105);
}

#container input {
    margin-top: 5%;
    font-size: 20px;
    font-weight: bolder;
    width: 96%;
    height: 10%;
    border: 0;
    border-radius: 12px;
}

#label1 {
    font-size: 25px;
}

#label2 {
    font-size: 25px;
}

#from-currency {
    display: block;
}

#from-to-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
}

#xchange-icon {
    font-size: 40px;
}

#from-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#to-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#to-section img {
    align-self: flex-end;
}

#from-section img {
    align-self: flex-start;
}

#xchange-btn {
    background-color: rgba(0, 0, 255, 0.445);
    color: white;
    width: 75%;
    height: 50px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
    border: none;
}

#btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.dropdown {
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

#msgCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 20%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.226);
    backdrop-filter: blur(1px);
}

#xchange-btn:hover {
    scale: 120%;
    transition-duration: 0.5s;
    cursor: pointer;
    box-shadow: 0 0 15px 5px rgb(3, 3, 125) inset;
}